# main.py Selenium IDE .side config

# Number of Schwab Accounts
# Type: Integer
# Example: SCHWAB_AI=20
SCHWAB_AI=

# Number of Merrill Accounts
# Type:Integer
# Example: MERRILL_AI = 4
MERRILL_AI=

# List of account numbers for Fidelity Auto.side file
# Type: A list of list containing strings
# Example: FIDELITY_AI="[['111111111','222222222','333333333'],['444444444','555555555','666666666']]"
FIDELITY_AI="[['YOUR','ACCOUNT','NUMBERS','HERE'],['ANOTHER','ACCOUNT','HERE']];"

# Account ID for Chase Auto.side file
# Type: A list List containing of Strings
# Example: CHASE_AI="[['1234567890','34554654'], ['1234567890','34554654']]"
# (Retrieve the number at {YOUR_AI_HERE}): `https://secure07ea.chase.com/web/auth/dashboard#/dashboard/trade/equity/entry;ai={YOUR_AI_HERE};sym=`)
CHASE_AI="[['YOUR','AI','HERE'],['ANOTHER','ACCOUNT's', 'AI','HERE']]"

# List of account names for Ally Auto.side file
# Type: List of Strings
# Example: ALLY_AI="['Account Name 1','Account Name 2']"
# WARNING: In [Ally Invest Settings Webpage](https://live.invest.ally.com/settings), change the default orders on the settings 
# for all accounts to be a small penny stock for default stock ticker to miminize risk, Market, & Quantity: 1.
ALLY_AI="['YOUR','ACCOUNT','NAMES','HERE']"

# List of account numbers for Firstrade Auto.side file
# Type: List of Strings
# Example: FIRSTRADE_AI="['1234567890']"
FIRSTRADE_AI="['YOUR','ACCOUNT','NUMBERS','HERE']"

# List of account numbers for Vanguard Auto.side file
# Type: List of Strings
# Example: VANGUARD_AI="['1354546','2657657']"
# NOTE: Outdated Test Cases labeled "X_Vanguard" are no longer maintained, use the new Test Cases labeled "Buy_Vanguard" and "Sell_Vanguard".
# The accounts just need a list starting at 1:n, where n is the number of accounts you have.
VANGUARD_AI="['YOUR','ACCOUNT','NUMBERS','HERE']"

# Path to the folder where you want to store the .side files
# Type: String
# Example: CUSTOM_DIR='C:\Users\Premium\Desktop\CodingProjects\SeleniumFolder'
CUSTOM_DIR='C:\Users\Premium\Desktop\CodingProjects\SeleniumFolder'



# Sofi Invest (Archived)

# Selenium Extension
# List of account numbers for Sofi Helper Auto.side file
# Type: List of Strings
# Example: SOFI_AI="['1354546','2657657']"
SOFI_AI="['YOUR','ACCOUNT','NUMBERS','HERE']"

# Python

# List of account names and numbers for SoFi Auto.side file
# Type: String
# Example: SOFI_ACCOUNT_NAMES="INDIVIDUAL#FAKENUMBS, #IRA_ROTH #NADANADA,IRA_TRAD_CONTRIB #YADYASA"
SOFI_ACCOUNT_NAMES="INDIVIDUAL#FAKENUMBS, #IRA_ROTH #NADANADA,IRA_TRAD_CONTRIB #YADYASA"

# Login credentials for SoFi Auto.side file
# Type: String
# Example: SOFI_LOGIN="email@domain.com:password"
SOFI_LOGIN="EMAIL:PASSWORD"

# List of SOFI account names to exclude from buying/selling on
# Type: String
# Example: EXCLUDE_ACCOUNTS="ACCOUNT_NAME_TO_NOT_RUN, ANOTHER_ACCOUNT_NAME_TO_NOT_BUY_SELL"
EXCLUDE_ACCOUNTS="ACCOUNT_NAMES TO NOT RUN,ANOTHER ACCOUNT NAME TO NOT BUY/SELL"

# Account Credentials Seperated by ':' 
# Type: String
# Used to attempt to enter credentials, or login where possible. Beta feature. Still in development.
CHASE_LOGIN="USERNAME:PASSWORD"
FIDELITY_LOGIN="USERNAME:PASSWORD"
FIRSTADE_LOGIN="USERNAME:PASSWORD"
MERRILL_LOGIN="USERNAME:PASSWORD"
SCHWAB_LOGIN="USERNAME:PASSWORD"
ALLY_LOGIN="USERNAME:PASSWORD"
VANGUARD_LOGIN="USERNAME:PASSWORD"
